<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <title>Home</title>

  <script data-ad-client="ca-pub-6151375810087921" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/build/tailwind.css" />
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="/styles/tailwind.css" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js"
    charset="utf-8"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css" />
  <script src="https://unpkg.com/leaflet-geosearch@3.3.2/dist/geosearch.umd.js"></script>

  <style>
    /* css to customize Leaflet default styles  */
    .custom .leaflet-popup-tip,
    .custom .leaflet-popup-content-wrapper {
      background: #ffffff;
      color: #ffffff;
      padding: 0;
      margin-bottom: -0.9rem;
    }

    .custom-pro .leaflet-popup-tip,
    .custom-pro .leaflet-popup-content-wrapper {
      background: #f5f5f5;
      color: #ffffff;
      padding: 0;
      margin-bottom: -0.9rem;
    }
  </style>


</head>

<body class="bg-gray-200 font-title flex flex-col h-screen">

  <%- include('../components/navbar'); -%>

    <%- include('../components/alerts'); -%>
      <main class=" flex-grow">
        <section class=" flex justify-center align-middle bg-gray-100">
          <div class=" flex-col">
            <h1 class=" m-3 md:m-7 text-xl sm:text-2xl md:text-3xl text-center font-bold text-gray-700">
              FINDGAS
            </h1>
            <h2 class=" mb-5 md:mb-8 text-base sm:text-lg md:text-xl text-center font-semibold text-gray-700">Encontre o
              botijão
              mais
              proximo
              de você
            </h2>
          </div>
        </section>

        <section>
          <div class=" flex justify-center align-middle">
            <div class=" pt-4 pb-4 sm:p-4 mx-1 sm:m-10 w-full sm:w-11/12 md:w-4/5 bg-white rounded">
              <h3 class=" font-normal text-gray-500 text-xs md:text-sm text-center mb-3">Distribuidoras localizadas no
                mapa
              </h3>
              <div id="mapid" class="z-0 w-auto h-80 lg:h-96 rounded"></div>
            </div>
          </div>
        </section>
        <a href="https://api.whatsapp.com/send?phone=5519999999999&text=Texto%20aqui" target="_blank"
          style="position:fixed;bottom:20px;right:30px;">
          <svg enable-background="new 0 0 512 512" width="50" height="50" version="1.1" viewBox="0 0 512 512"
            xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M256.064,0h-0.128l0,0C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104  l98.4-31.456C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z"
              fill="#4CAF50" />
            <path
              d="m405.02 361.5c-6.176 17.44-30.688 31.904-50.24 36.128-13.376 2.848-30.848 5.12-89.664-19.264-75.232-31.168-123.68-107.62-127.46-112.58-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624 26.176-62.304c6.176-6.304 16.384-9.184 26.176-9.184 3.168 0 6.016 0.16 8.576 0.288 7.52 0.32 11.296 0.768 16.256 12.64 6.176 14.88 21.216 51.616 23.008 55.392 1.824 3.776 3.648 8.896 1.088 13.856-2.4 5.12-4.512 7.392-8.288 11.744s-7.36 7.68-11.136 12.352c-3.456 4.064-7.36 8.416-3.008 15.936 4.352 7.36 19.392 31.904 41.536 51.616 28.576 25.44 51.744 33.568 60.032 37.024 6.176 2.56 13.536 1.952 18.048-2.848 5.728-6.176 12.8-16.416 20-26.496 5.12-7.232 11.584-8.128 18.368-5.568 6.912 2.4 43.488 20.48 51.008 24.224 7.52 3.776 12.48 5.568 14.304 8.736 1.792 3.168 1.792 18.048-4.384 35.52z"
              fill="#FAFAFA" />
          </svg>
        </a>
      </main>
      <div class=" h-40">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ad footer -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6151375810087921"
          data-ad-slot="9588304466" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>

      <%- include('../components/footer'); %>
        <script async data-id="79927" src="https://cdn.widgetwhats.com/script.min.js"></script>

        <script src="/scripts/map.js"></script>
        <script src="/scripts/modal.js"></script>



</body>

</html>
