<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css" />

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/build/tailwind.css" />
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="/styles/tailwind.css" />

  <style>
    /* css to customize Leaflet default styles  */
    .custom .leaflet-popup-tip,
    .custom .leaflet-popup-content-wrapper {
      background: #ffffff;
      color: #ffffff;
      padding: 0;
    }
  </style>

</head>

<body class="bg-gray-200 font-title">

  <header>
    <%- include('../components/header'); -%>
  </header>

  <main>
    <div class=" absolute right-0 top-0">
      <%- include('../components/alerts'); -%>
    </div>

    <section class=" flex justify-center align-middle bg-gray-100">
      <div class=" flex-col">
        <h1 class=" m-4 md:m-7 text-3xl md:text-4xl text-center font-bold text-gray-700">
          FINDGAS
        </h1>
        <h2 class=" mb-6 md:mb-8 text-xl md:text-2xl text-center font-semibold text-gray-700">Encontre o botijão mais
          proximo
          de você
        </h2>
      </div>
    </section>

    <section>
      <div class=" flex justify-center align-middle">
        <div class="p-5 w-2/3 bg-white m-10 rounded">
          <h3 class=" font-normal text-gray-500 text-sm md:text-base text-center mb-3">Distribuidoras localizadas no
            mapa
          </h3>
          <div id="mapid" class="w-auto h-64 md:h-80 rounded"></div>
        </div>
      </div>
    </section>
  </main>

  <!-- modal -->



  <footer>
    <%- include('../components/footer'); %>
  </footer>


  <script src="/scripts/map.js"></script>
  <script src="/scripts/modal.js"></script>
  <script src="/scripts/script.js"></script>

</body>

</html>
