<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <title>Registrar</title>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/build/tailwind.css" />
  <link rel="stylesheet" href="/styles/tailwind.css" />

</head>

<body class="bg-gray-100 font-title flex flex-col h-screen">

  <%- include('../components/navbar'); -%>
    <%- include('../components/alerts'); -%>

      <main class=" flex-grow">

        <section
          class=" flex flex-col justify-between bg-white p-8 sm:p-12 rounded-md m-auto mt-10 w-11/12 sm:w-3/4 max-w-lg ">

          <h1 class=" m-4 md:m-7 text-2xl md:text-3xl text-center font-bold text-gray-700">
            Novo Registro
          </h1>

          <div>
            <form class=" w-full m-auto" id="register-form" onsubmit="return validateForm()" method="post"
              action="/register">
              <div class=" ">
                <label for="name" class="block mb-2 mt-4 text-sm md:text-base font-bold text-gray-500">Nome</label>
                <input
                  class="rounded p-3 md:p-4 w-full flex-1 text-base md:text-lg text-gray-700 border-gray-200 bg-gray-100 focus:bg-gray-200 outline-none"
                  type="text" name="name" id="name" />
              </div>

              <div class=" ">
                <label for="email" class="block mb-2 mt-4 text-sm md:text-base font-bold text-gray-500">Email</label>
                <input
                  class="rounded-md p-3 md:p-4 w-full flex-1 text-base md:text-lg text-gray-700 border-gray-200 bg-gray-100 focus:bg-gray-200 outline-none"
                  type="email" name="email" id="email" />
              </div>

              <div class=" ">
                <label for="password" class="block mb-2 mt-4 text-sm md:text-base font-bold text-gray-500">Senha</label>
                <input
                  class="rounded-md p-3 md:p-4 w-full flex-1 text-base md:text-lg text-gray-700 border-gray-200 bg-gray-100 focus:bg-gray-200 outline-none"
                  type="password" name="password" id="password" />
              </div>

              <div class=" ">
                <label for="confirmPassword"
                  class="block mb-2 mt-4 text-sm md:text-base font-bold text-gray-500">Confirmar
                  senha</label>
                <input
                  class="rounded-md p-3 md:p-4 w-full flex-1 text-base md:text-lg text-gray-700 border-gray-200 bg-gray-100 focus:bg-gray-200 outline-none"
                  type="password" name="confirmPassword" id="confirmPassword" />
              </div>

              <button type="submit" title="Registrar" form="register-form" id="button-register-form"
                class=" p-2 md:p-3 mt-10 bg-green-600 hover:bg-green-700 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none rounded-md ">
                Cadastrar
              </button>

            </form>
          </div>
        </section>
      </main>

      <%- include('../components/footer'); %>

        <script>

          function validateForm() {

            let name = document.getElementById('name').value;
            let email = document.getElementById('email').value;
            let password = document.getElementById('password').value;
            let confirm_password = document.getElementById('confirmPassword').value;

            if (name === "") {
              alert('Preencha todos os campos');
              return false;
            }

            if (email === "") {
              alert('Preencha todos os campos');
              return false;
            }

            if (password === "") {
              alert('Preencha todos os campos');
              return false;
            }

            if (password.length < 6) {
              alert('Tamanho mínimo de senha de seis caracteres');
              return false;
            }

            if (password !== confirm_password) {
              alert('As senhas não coincidem');
              return false;
            }
          };

        </script>

</body>

</html>
