<!-- Template simples de e-mail, arquivo com o nome email.ejs -->
<header style="background-color: black; color: #ffffff; padding: 10px;">
  <h3>Seja bem vindo ao sistema</h3>
</header>
<article>
  <p>Este é o seu acesso no sistema</p>
  <p>Aproveite muito bem ele</p>
</article>
<footer style="background-color: black; color: #ffffff; padding: 10px;">
  <form method="post" action="/sendmail">
    <input type="email" name="email" id="">
    <button type="submit">enviar</button>
  </form>
  <h4>Siga as redes sociais</h4>

</footer>
