<div>
  <% if (messages.error) { %>
    <script language="javascript">
      alert("<%= messages.error %>");
    </script>
    <% } %>
</div>

<div>
  <% if (messages.message) { %>
    <script language="javascript">
      alert("<%= messages.message %>");
    </script>
    <% } %>
</div>
