<header class="grid grid-cols-3 h-18 sm:h-20 p-4 bg-yellow-600">
  <figure class=" my-auto ml-5 sm:ml-20">
    <a href="#" onclick="goBack()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 fill-current text-white" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
      </svg>
    </a>
  </figure>

  <h2 class="m-auto text-white">
    <%= title %>
  </h2>
</header>

<script>
  function goBack() {
    window.history.back();
  }
</script>
