<footer>
  <div class="mt-20 bg-gray-50 px-4">
    <div class="mx-auto container flex flex-col items-center justify-center">
      <div class="text-gray-800 flex flex-col md:items-center pt-3">
        <h1 class=" text-xl font-bold">FINDGAS</h1>
        <div class="my-3 text-sm sm:text-base text-color">
          <ul class="md:flex items-center">
            <li class="md:mr-6 cursor-pointer hover:text-black  lg:py-0">
              <a href='mailto:agentavery@sample.com?subject=Solicitação%20de%20suporte'>
                Contato
              </a>
            </li>
            <li class="md:mr-6 cursor-pointer hover:text-black  lg:py-0"><a href="/beprovider">Cadastre sua
                revenda</a></li>
            <li class="md:mr-6 cursor-pointer hover:text-black  lg:py-0"><a href="/terms-of-use">Termos de Uso</a></li>
            <li class="cursor-pointer hover:text-black  lg:py-0"><a href="/privacy-policy">Política Privacidade</a></li>
          </ul>
        </div>
        <div class=" text-xs sm:text-sm text-color mb-4">
          <p> © Copyright 2021 - Todos Direitos Reservados.</p>
        </div>
      </div>
      <div class="w-9/12 h-0.5 bg-gray-100 rounded-full"></div>
    </div>
  </div>
</footer>
