<footer class="mt-20 bg-gray-50 text-gray-600 body-font">
  <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-semibold items-center md:justify-start justify-center text-gray-700">
      <span class="ml-3 text-sm sm:text-lg">FINDGAS</span>
    </a>
    <p class="text-xs text-gray-500 sm:ml-4 sm:pl-4sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
      © Copyright 2021 - Todos Direitos Reservados.
    </p>
    <a href='mailto:agentavery@sample.com?subject=Hello%20Zaposphere'>enviar</a>
  </div>
</footer>
