<div>
  <nav class="flex justify-between items-center p-3 bg-gray-100 ">
    <a class=" flex-shrink-0" href="/"><img src="/images/gas.svg" alt="findgas" class="w-8 h-8 ml-8"></a>

    <button onclick="toggleHidden()" id="button" class=" flex items-center md:hidden py-2 px-3 text-indigo-500 rounded border border-indigo-500
      hover:bg-indigo-500 hover:text-white active:hbg-btn focus:outline-none mr-8 m-0.5">
      <i class=" fal fa-hamburger"></i>
    </button>

    <div id="hamburger"
      class=" hidden absolute md:relative top-14 left-0 md:top-0 z-20 md:flex flex-col md:flex-row mr-8 md:space-x-6 font-semibold w-full md:w-auto bg-gray-100 shadow-md rounded md:rounded-none md:shadow-none md:bg-transparent p-6 pt-0 md:p-0 ">
      <a href="/" class="block py-2 tracking-wide text-gray-600 hover:text-indigo-600 ">Home</a>
      <!-- <a href="/profile" id="avatar-profile">
        <p>
          <%= // user.name %> <span>Ver perfil</span>
        </p>
        <i class="fas fa-user-circle"></i>
      </a>
      -->
      <a href="/dashboard" class="block py-2 tracking-wide text-gray-600 hover:text-indigo-600">Dashboard</a>
      <a href="/profile" class="block py-2 tracking-wide text-gray-600 hover:text-indigo-600">Perfil</a>
      <a href="/logout" class="block py-2 tracking-wide text-gray-600 hover:text-indigo-600">Logout</a>
    </div>
  </nav>
</div>
