<!DOCTYPE <html>
<html lang=”en”>

<head>
  <meta charset=”UTF-8">
  <title>Home</title>
  <link rel=”stylesheet” type=”text/css” href=”/assets/colocoAquiMeu.css”>
</head>

<body>
  <h2>DASHBOARD<h2>
      <p>
        <%= user.name %>
          <%= user.email %>
            <%= user.scope_id %>
              <%= user.password_hash %>
      </p>

      <a href="/api/logout">Login</a>


</body>

</html>
