<!DOCTYPE <html>
<html lang=”en”>

<head>
  <meta charset=”UTF-8">
  <title>Home</title>
  <link rel=”stylesheet” type=”text/css” href=”/assets/colocoAquiMeu.css”>
</head>

<body>
  <h2>INDEX<h2>

      <a href="/api/users">Register</a>
</body>

</html>
