<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/build/tailwind.css" />
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="/styles/tailwind.css" />

</head>

<body class="bg-gray-200 font-title">

  <header>
    <%- include('components/header'); -%>
  </header>

  <h2>HeaderTitulo<h2>
      <% if (messages.error) { %>
        <%= messages.error %>
          <% } %>
            <form id="users-form" method="post" action="/login">
              <input type="email" placeholder="Email" name="email">
              <input type="password" placeholder="Senha" name="password">
              <button type="submit">Submit</button>
            </form>


            <script src="/scripts/script.js"></script>

</body>

</html>
