<!DOCTYPE <html>
<html lang=”en”>

<head>
  <meta charset=”UTF-8">
  <title>TESTE</title>
  <link rel=”stylesheet” type=”text/css” href=”/assets/colocoAquiMeu.css”>
</head>

<body>
  <h2>HeaderTitulo<h2>
      <form id="users-form" method="post" action="/api/users">
        <input type="text" placeholder="Nome" name="name">
        <input type="email" placeholder="Email" name="email">
        <input type="password" placeholder="Senha" name="password">
        <button type="submit">Submit</button>
      </form>
</body>

</html>
